html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Inter";
}

.forgotpassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("/public/images/login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}
.forgot-input-container {
  display: flex;
  flex-direction: row; /* Ensure label and input are in a row */
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

#forgot-password-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30vh;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Form's background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust transparency here */
  z-index: 0; /* Ensures it stays below the form */
}

#forgot {
  color: white;
  z-index: 1;
  font-size: 8vh;
  margin: 10px;
}

form p {
  margin: 5px 0 0; /* Minimal top margin, no bottom margin */
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Align vertically if needed */
  width: 100%; /* Ensure it takes full width of the form */
}

form a {
  color: #f09b28; /* Blue color for the link */
  text-decoration: none; /* Remove underline from the link */
  font-size: 1rem; /* Adjust font size */
  font-weight: bold; /* Bold font */
  transition: color 0.3s ease; /* Smooth color transition on hover */
  margin: 0; /* Remove unnecessary margins */
}

form a:hover {
  color: #be6e00; /* Darker blue on hover */
  text-decoration: underline; /* Underline on hover */
}

form a:active {
  color: #1658a0; /* Even darker blue when clicked */
}
